a, a:hover, a:active, a:link, a:visited, a:focus {
  text-decoration: none;
  color: white;
}

body {
  background-color: rgb(20,20,20);
}

p {
  text-indent: 20px;
}

.page_offset {
  height: 80px;
  content: '';
}

#hr {
  margin: 0 auto;
}