@font-face {
  font-family: "sedgwick-display";
  src: url("../fonts/sedgwick-display.ttf") format("truetype");
}
@font-face {
  font-family: "sedgwick-regular";
  src: url("../fonts/sedgwick-regular.ttf") format("truetype");
}
@font-face {
  font-family: "poiret";
  src: url("../fonts/poiret.ttf") format("truetype");
}